.Body__paragraph___gPXYk {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Body__codeContainer___p93xJ {
  margin-left: -30px;
  margin-right: -30px;
}

.Body__codeContainer___p93xJ .Body__code___t2ZLa {
  background-color: #f8f8f8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}

.Body__codespan___NC6Wx {
  background-color: #f8f8f8;
}

.Body__section___3znVZ {
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Body__section___3znVZ h1 {
  font-family: "Roboto", sans-serif;
}

.Body__section___3znVZ h2 {
  font-family: "Roboto", sans-serif;
}

.Body__section___3znVZ h3 {
  font-family: "Roboto", sans-serif;
}

.Post__titleBox___1GODV {
  border-left: 12px solid #288ECC;
  padding-left: 16px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.Post__titleBox___1GODV h1 {
  font-size: 2.7rem;
}

.Post__titleBox___1GODV h3 {
  font-size: 1.7rem;
}

.Post__titleBox___1GODV .Post__publishedOn___1R5ZF {
  font-size: 1.5em;
}

.Body__codeContainer___Jjfhu {
  margin-left: -30px;
  margin-right: -30px;
}

.Body__codeContainer___Jjfhu .Body__code___1GAEf {
  background-color: #f8f8f8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}

.Body__codespan___1CCzJ {
  background-color: #f8f8f8;
}

.Body__section___1X7QY {
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Body__section___1X7QY h1 {
  font-family: "Roboto", sans-serif;
}

.Body__section___1X7QY h2 {
  font-family: "Roboto", sans-serif;
}

.Body__section___1X7QY h3 {
  font-family: "Roboto", sans-serif;
}

.Post__map___1uG0n {
  width: 300px;
  height: 300px;
  float: right;
}

.Post__titleBox___2DgP- {
  border-left: 12px solid #288ECC;
  padding-left: 16px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.Post__titleBox___2DgP- h1 {
  font-size: 2.7rem;
}

.Post__titleBox___2DgP- h3 {
  font-size: 1.7rem;
}

.Post__titleBox___2DgP- .Post__publishedOn___mAj1r {
  font-size: 1.5em;
}

.Map__map___9ud1T {
  width: 100%;
  height: 300px;
}

.Body__codeContainer___3shiW {
  margin-left: -30px;
  margin-right: -30px;
}

.Body__codeContainer___3shiW .Body__code___bqqjl {
  background-color: #f8f8f8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}

.Body__codespan___2vKLK {
  background-color: #f8f8f8;
}

.Body__section___2UCoE {
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Body__section___2UCoE h1 {
  font-family: "Roboto", sans-serif;
}

.Body__section___2UCoE h2 {
  font-family: "Roboto", sans-serif;
}

.Body__section___2UCoE h3 {
  font-family: "Roboto", sans-serif;
}

.Map__map___rN5FT {
  width: 100%;
  height: 300px;
}

.Map__titleBox___27KRb {
  border-left: 12px solid #288ECC;
  padding-left: 16px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.Map__titleBox___27KRb h1 {
  font-size: 2.7rem;
}

.Map__titleBox___27KRb h3 {
  font-size: 1.7rem;
}

.Map__titleBox___27KRb .Map__publishedOn___CsH0o {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .MainPanel__blogColumn___ggwhf {
    width: 100%;
  }

  .MainPanel__talksColumn___3L0t8 {
    width: 100%;
  }

  .MainPanel__panelContainer___2RZ2b {
    padding: 0 10px;
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .MainPanel__panelContent___3w64X {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
  }

  .MainPanel__collectionOfYears___28Z2k {
    font-size: 1 rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .MainPanel__collectionOfYears___28Z2k .MainPanel__collectionOfEntries___HDplu > * {
    display: block;
  }

  .MainPanel__collectionOfYears___28Z2k .MainPanel__collectionOfEntries___HDplu > * + * {
    padding-top: 0.5em;
  }
}

@media (min-width: 600px) {
  .MainPanel__panelContainer___2RZ2b {
    padding: 0 30px;
  }

  .MainPanel__panelContent___3w64X {
    width: 700px;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
    overflow: hidden;
  }

  .MainPanel__panelContent___3w64X > * + * {
    margin-left: 16px;
  }

  .MainPanel__blogColumn___ggwhf {
    float: left;
    width: 334px;
  }

  .MainPanel__talksColumn___3L0t8 {
    float: left;
    width: 334px;
  }

  .MainPanel__collectionOfYears___28Z2k {
    font-size: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .MainPanel__collectionOfYears___28Z2k .MainPanel__collectionOfEntries___HDplu > * {
    display: block;
  }

  .MainPanel__collectionOfYears___28Z2k .MainPanel__collectionOfEntries___HDplu > * + * {
    padding-top: 0.5em;
  }
}

@media (max-width: 600px) {
  .ProfilePanel__media___3dLFj,
  .ProfilePanel__bd___EnBFI {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
  }

  .ProfilePanel__img___O4v7c {
    float: left;
    margin-right: 10px;
  }

  .ProfilePanel__img--rev___22HCM {
    float: right;
    margin-left: 10px;
  }

  .ProfilePanel__img___O4v7c img {
    display: block;
    width: 75px;
  }

  .ProfilePanel__bd___EnBFI > * + * {
    margin-top: 0.5em;
  }

  .ProfilePanel__heading___3ovu8 {
    font-weight: bold;
    color: #fff;
    font-size: 2.0em;
    padding-bottom: 0.15em;
  }

  .ProfilePanel__description___2crKI {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #AAA;
  }

  .ProfilePanel__panelContainer___1LR7z {
    background-image: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.95) 100%), url("/assets/images/hero1.png");
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.95) 100%), url("/assets/images/hero1.png");
    padding: 0 30px;
    padding-top: 5em;
    padding-bottom: 3em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: #444;
    background-size: cover;
    background-position: center center;
  }

  .ProfilePanel__panelContent___20OO9 {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .ProfilePanel__media___3dLFj,
  .ProfilePanel__bd___EnBFI {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
  }

  .ProfilePanel__img___O4v7c {
    float: left;
    margin-right: 20px;
  }

  .ProfilePanel__img--rev___22HCM {
    float: right;
    margin-left: 10px;
  }

  .ProfilePanel__img___O4v7c img {
    display: block;
    width: 150px;
    -webkit-clip-path: circle(75px at center);
            clip-path: circle(75px at center);
  }

  .ProfilePanel__bd___EnBFI > * + * {
    margin-top: 0.5em;
  }

  .ProfilePanel__heading___3ovu8 {
    font-weight: bold;
    color: #fff;
    font-size: 2.5em;
    padding-bottom: 0.15em;
  }

  .ProfilePanel__description___2crKI {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #AAA;
  }

  .ProfilePanel__panelContainer___1LR7z {
    background-image: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.95) 100%), url("/assets/images/hero1.png");
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.95) 100%), url("/assets/images/hero1.png");
    padding: 0 30px;
    padding-top: 5em;
    padding-bottom: 3em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-bottom: #444;
    background-size: cover;
    background-position: center center;
  }

  .ProfilePanel__panelContent___20OO9 {
    width: 700px;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
  }

  .ProfilePanel__panelContent___20OO9 > * + * {
    margin-left: 16px;
  }
}

@media (max-width: 600px) {
  .AgendaPanel__buttonCell___mdHZT {
    align: center;
  }

  .AgendaPanel__responsiveTable___1imD0 {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .AgendaPanel__responsiveTable___1imD0 thead {
    display: none;
  }

  .AgendaPanel__responsiveTable___1imD0 tbody tr {
    margin-top: 2em;
  }

  .AgendaPanel__responsiveTable___1imD0 tr {
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
  }

  .AgendaPanel__responsiveTable___1imD0 th,
  .AgendaPanel__responsiveTable___1imD0 td {
    padding: 10px;
    text-align: center;
    font-weight: normal;
  }

  .AgendaPanel__responsiveTable___1imD0 th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .AgendaPanel__responsiveTable___1imD0 td {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    border-bottom: 1px dotted #ccc;
  }

  .AgendaPanel__responsiveTable___1imD0 td:last-child {
    border-bottom: 0;
  }

  .AgendaPanel__responsiveTable___1imD0 td:before {
    content: attr(value);
    float: left;
    width: 8em;
    text-align: left;
    text-transform: uppercase;
  }

  .AgendaPanel__heading___1R9BA {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #66757f;
  }

  .AgendaPanel__button___31hPS {
    margin-right: 0.5em;
    text-align: center;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border-top: 1px solid #4db2ff;
    border-left: 1px solid #4db2ff;
    background-color: #288ECC;
  }

  .AgendaPanel__panelContainer___3klt_ {
    padding: 0 10px;
    background-color: #eee;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .AgendaPanel__panelContent___LNATz {
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #66757f;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  .AgendaPanel__titleCell___3Yh8D {
    width: 40%;
  }

  .AgendaPanel__dateCell___22MjH {
    width: 20%;
  }

  .AgendaPanel__heading___1R9BA {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #66757f;
  }

  .AgendaPanel__button___31hPS {
    margin-right: 0.5em;
    text-align: center;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #288ECC;
  }

  .AgendaPanel__panelContainer___3klt_ {
    padding: 0 30px;
    background-color: #eee;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .AgendaPanel__responsiveTable___1imD0 {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .AgendaPanel__responsiveTable___1imD0 tr {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
  }

  .AgendaPanel__responsiveTable___1imD0 th,
  .AgendaPanel__responsiveTable___1imD0 td {
    padding: 10px;
    text-align: center;
    font-weight: normal;
  }

  .AgendaPanel__responsiveTable___1imD0 th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .AgendaPanel__panelContent___LNATz {
    width: 700px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #66757f;
    margin: 0 auto;
    overflow: hidden;
  }

  .AgendaPanel__panelContent___LNATz table {
    margin-top: 1em;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: white;
  }

  .AgendaPanel__panelContent___LNATz table th {
    font-size: 1rem;
    color: #66757f;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .AgendaPanel__panelContent___LNATz table td {
    font-size: 1rem;
    text-align: left;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}

.Home__panelCollection___1jjFm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .Content__panelContainer___2m3oF {
    padding: 0 10px;
  }

  .Content__panelContent___3kvmy {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .Content__panelContainer___2m3oF {
    padding: 0 30px;
  }

  .Content__panelContent___3kvmy {
    width: 700px;
    font-family: "Roboto", sans-serif;
    color: #66757f;
    margin: 0 auto;
  }
}


/*# sourceMappingURL=app.css.map*/